@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
